<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="css/cm.css">
	<title>MessageBird | API</title>
	<body>
	<div class="container">
		

		<h1>Welcome to MessageBird API paratice code</h1>

		 <p>
		 	I'm suing nodejs and express to access messagebird api and display the real time
		 	Balance:
		 </p>
		<div class="table"> 
		 <table>
		 	<tr>
		 		<th>Payment Method</th>
		 		<th>Amount</th>
		 		<th>Currency</th>
		 	</tr>
		 	<tr>
		 		<td> <%= method %> </td>
		 		<td> <%= balance %> </td>
		 		<td> <%= type %> </td>
		 	</tr>
		 </table>
	</div>
	</div>

	</body>
</html>